body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url(https://images.unsplash.com/photo-1514041181368-bca62cceffcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7bc4b4ae9deb1841f8d6c70ca55f4110&auto=format&fit=crop&w=2980&q=80);
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
